/*! Variables */

// Fonts
$family: 'Barlow', sans-serif;
$heading:'Mulish', sans-serif;
$enlaces:  'Nunito Sans', sans-serif;




// Colors

$c-primario:rgb(18, 153, 0)     ;
$c-secundario:rgb(202, 199, 5) ;
